.text-default{
   color: crimson
}
.text-white{
   color: #fff
}
.text-blue{
   color: #264de4
}
.text-violet{
   color: #ac0f7a
}
.text-yellow{
   color: yellow
}
.text-react{
   color: #61DBFB
}
.text-stack{
   color: #f48024 
}
.text-sass{
   color: #CD6799 
}