/* Fonts */


/* /fonts> */

.wrapper {
   min-height: 100%;
   opacity: 0;
   transition: opacity 0.8s ease;
}
.wrapper.loaded{
   opacity: 1;
}
.wrapper.loaded header{
   transform: translate(0, 0%);
}
.wrapper.loaded .page__pagination{
   transform: translate(0%,0);
}
.wrapper.loaded .screen__content_1{
   transform: translate(0%,0);
   opacity: 1;
}
.wrapper.free .page__pagination{
   transform: translate(50px,-50%);
   opacity: 0;
}
/* Menu */
header{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   background: rgba(0, 0, 0, 0.7);
   transform: translate(0, -100%);
   transition: transform 1s ease;
}
.header__menu {
}
.navbar-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 14px calc(15px + (80 - 15) * ((100vw - 320px) / 1280));
}
.logo{
   z-index: 10;
}
.logo a{
   color: #fff;
    font-size: 45px;
    font-weight: 600;
}
.menu {
   display: flex;
   min-height: 50px;
   align-items: center;
}
.menu li{
   margin: 0 15px;
}

.txt-type{
   border-right: 1px solid #fff;
}

.menu__link_mobile{
   display: none;
}
.menu__link {
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   transition: 0.4s;
}
.menu__link:hover,
.menu__link.active{
   color: crimson;
}
.menu-burger {
   color: #fff;
   font-size: 23px;
   cursor: pointer;
   display: none;
   z-index: 10;
}
/* Pageblock */
.page{
   overflow: hidden;
}

.page.pk {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.page__wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
}
.page__screen {
}
.screen {
   flex: 1 0 100%;
   min-height: 100vh;
   height: 1px;
   position: relative;
}
.screen_overflow{

}
.screen__content {
   padding: calc(55px + (90 - 55) * ((100vw - 320px) / 1280)) calc(15px + (75 - 15) * ((100vw - 320px) / 1280));
   position: relative;
   z-index: 1;
   color: #fff;
}
.screen__content_1{
   transition: 1s;
   margin-top: 40vh;
   padding: 0 calc(15px + (90 - 15) * ((100vw - 320px) / 1280));
   opacity: 0;
   transform: translate(-100%,0);
}
.home-text_1 {
   font-size: calc(25px + (30 - 25) * ((100vw - 320px) / 1280));
}
.home-text_2 {
   font-size: calc(40px + ( 75 - 40 ) * ((100vw - 320px) / 1280));
   font-weight: 600;
   margin: 0 0 0 -3px;
}
.home-text_3 {
   font-size: calc(23px + (40 - 23) * ((100vw - 320px) / 1280));
   margin: 5px 0;
   font-weight: 700;
}
.home-text_3 span{
   color: crimson;
   font-weight: 600;
}
.screen__body {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   overflow: hidden;
}
.screen__image {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
}
.screen__image::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background: rgba(0, 0, 0, 0.6);
}
.screen__image img{
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   object-fit: cover;
}
/* Pagination, scroll */
.page__pagination {
   position: absolute;
   top: 50%;
   right: 30px !important;
   display: flex;
   flex-direction: column;
   transition: transform 1.2s ease;
   transform: translate(150%,0);
}
.page__bullet{
   width: 15px;
   height: 15px;
   cursor: pointer;
   background: rgba(0,0,0,0.8);
   margin: 10px 0;
   border-radius: 50%;
   transition: 0.3s ease;
}
.page__bullet_active{
   background: #fff;
}
.page__scroll {
   position: absolute;
   top: 0;
   right: 0;
   width: 10px;
   background: rgba(0, 0, 0, 0.5);
   height: 100%;
}
.page__drag-scroll{
   cursor: pointer;
   top: 0;
   left: 0;
   width: 100%;
   background: #fff;
}

/* My works section styling */


/* MyWorks */


@media(max-width: 1100px){
   .menu__link_mobile{
      display: inline-block;
   }
   .menu-burger {
      display: block;
   }
   .menu {
      position: fixed;
      width: 100%;
      height: 100vh;
      left: -100%;
      top: 0;
      display: block;
      text-align: center;
      background: rgba(0, 0, 0, 0.8);
      padding-top: 100px;
      overflow: auto;
      transition: 0.5s;
   }
   .navbar._active .menu-burger i::before{
      content: '\f00d';
   }
   .navbar._active .menu {
      left: 0;
   }
   .navbar .menu li{margin-bottom: 25px;}
   .navbar .menu li a{font-size: 29px;}

}

@media(max-width: 576px){
   .page__pagination {
      right: 15px !important;
   }
   .page__bullet{
      margin: 7px 0;
      width: 10px;
      height: 10px;
   }
   .services-content{
      padding: 0 10px;
   }
}
